.fila-disponible {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.titulo-producto {
    font-weight: 600;
    font-size: 25px;
}

.center-content ion-card-title {
    height: 100px;
    display: flex;
    align-items: center;
}

