<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chocolate Criollo
    </ion-title>
    <ion-buttons slot="end">
      <ion-button defaultHref="home">
        <img src="../../assets/images/Logo-Criollo-Chocolate-2.png" 
             class="header-logo">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content> -->

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4" *ngFor="let producto of productos ; let i = index" >
        <ion-card routerLink="/producto" (click)="verProducto(i)">
          <ion-card-header>
            <img [src]="producto.img" alt="">
          </ion-card-header>
        
          <ion-card-content ngClass.sm="center-content"
                            ngClass.xs="center-content-xs">

            <ion-card-title class="titulo-producto 
                                   text-center 
                                   mb-10">
                                   <div class="text">
                                     {{producto.nombre}}
                                   </div>
                                  </ion-card-title>
            <div class="fila-disponible">
              <ion-badge color="success">Disponible</ion-badge>
              <ion-badge color="warning">10$</ion-badge>
            </div>
            <ion-card-subtitle class="text-justify"
            >{{producto.mensaje | cutLetter}}</ion-card-subtitle>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


