


.background-chocolate {
    background-image: url("../../assets/images/cacao-background.jpg");
    background-position: center;
    height: 200px;
}

.background-chocolate-sm {
    background-image: url("../../assets/images/cacao-background.jpg");
    background-position: center;
    height: 200px;
    img {
        width: auto;
        margin: auto;
        display: block;
    }
}

.chocolate-thumbstail {
    transform: translateY(32%);
    height: 250px;
}

.card-description {
    width: calc(100% - 250px);
    margin-left: 240px;
}

.quantity-badge {
    font-size: 30px;
}

.slide-image {
    width: 250px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    padding-top: 20px;
    // top: -50px;
}

.slide-full {
    height: 55% !important;
}

