<ion-header>
  <ion-toolbar>
    <ion-title>{{producto.nombre}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button defaultHref="home">
        <img src="../../assets/images/Logo-Criollo-Chocolate-2.png" 
             class="header-logo">
      </ion-button>
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
        <ion-icon name="basket" size="large"></ion-icon>
        <ion-badge color="primary" 
                   mode="ios" 
                   class="">42</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div ngClass.xs="background-chocolate-xs"
       ngClass.sm="background-chocolate">
    <img [src]="producto.img" class="chocolate-thumbstail">
  </div>
  <div>
      <ion-card ngClass.xs="card-description-xs"
                ngClass.sm="card-description">
        <ion-card-header>
          <ion-card-subtitle ngClass.xs="text-center"
                             ngClass.sm="text-end">Descripción</ion-card-subtitle>
          <ion-card-title ngClass.xs="text-center"
                          ngClass.sm="text-end">{{producto.nombre}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content ngClass.xs="text-center"
                          ngClass.sm="text-end">
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
  
          <ion-item>
            <ion-label ngClass.xs="text-center"
                       ngClass.sm="text-end fs-30">
              Cantidad:
            </ion-label>
          </ion-item>
  
          <ion-grid fxShow.xs="false" class="mt-20" class="ion-align-items-center">
            <ion-row class="ion-align-items-center ion-justify-content-end">
              <ion-button color="light" (click)="decreaseQuantity()">
                <ion-icon name="arrow-back-outline" size="large"></ion-icon>
              </ion-button>
              <ion-button color="light" class="mr-20" (click)="increaseQuantity()">
                <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
              </ion-button>
              <ion-badge color="light" class="quantity-badge mr-20">{{cantidadProducto}}</ion-badge>
              <ion-button color="success" (click)="openModalForm()">Ordenar</ion-button>
            </ion-row>
          </ion-grid>        
          <ion-grid fxHide="true"
                    fxHide.xs="false" 
                    class="ion-align-items-center">
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-button color="light" (click)="decreaseQuantity()">
                <ion-icon name="arrow-back-outline" size="large"></ion-icon>
              </ion-button>
              <ion-button color="light" class="mr-20" (click)="increaseQuantity()">
                <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
              </ion-button>
              <ion-badge color="light" class="quantity-badge mr-20">{{cantidadProducto}}</ion-badge>
            </ion-row>
            <ion-row class="ion-align-items-center ion-justify-content-center mt-20">
              <ion-button color="success" (click)="openModalForm()">Ordenar</ion-button>
            </ion-row>
          </ion-grid>   
        </ion-card-content>
      </ion-card>
  </div>


  <!-- <ion-text class="text-center">
    <h1>Más Sabores</h1>
  </ion-text>

  <ion-slides pager="true" class="slide-full">

    <ion-slide *ngFor="let producto of productos">

      <ion-card>

        <img [src]="producto.img" class="slide-image">

        <ion-card-header>
          <ion-card-title> {{producto.nombre}} </ion-card-title>
        </ion-card-header>
        <ion-card-content class="">
          {{producto.mensaje}}
        </ion-card-content>


      </ion-card>

    </ion-slide>


  </ion-slides> -->

  </ion-content>


<!-- 
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <h1>MÁS SABORES</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid> -->

